/* ==================================================
                    ROOT VARIABLES
================================================== */

:root {

/*----------COLOR----------*/
--primary-blue: #005491;
--primary-orange: #D33F00;
--secondary-blue: #020A33;
--secondary-orange: #CF7B31;
--neutral-white: #FFFFFF;
--neutral-skyblue: #D9EFFF;
--neutral-darkblue: #00192B;
--neutral-black: #040000;


/*----------FONTS----------*/
    /* Title, main header - Cherry Blossoms regular */
  --font-header: "cherry-blossoms-regular", sans-serif;
  
  /* Sub-headers - Sirenia regular */
  --font-subheader: "sirenia", sans-serif;
  
  /* body, p, nav - Quicksand regular */
  --font-body: "quicksand", sans-serif;

}


/*----------container project----------*/

.project h2 {
    margin-bottom: 15px;
}

.container.project {
    padding: 0 30px 30px;
}

/*----------container form----------*/

.container.form {
    background: linear-gradient(
        180deg,
        #005491 30%,
        #00192B 70%
    );
    border-radius: 25px;
}

form#contact-form {
    height: 525px;
}

input#name, input#email, input#message{
    width: 100%;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: var(--font-body);
}

.field.placeholder {
    color:#005491;
}

.field {
    padding-bottom: 10x;
}

.contact.button {
    padding-top: 25px;
}

.field textarea {
    width: 100%;
    min-height: 150px;
    padding: 15px 20px;
    font-size: 16px;
    resize: vertical; /* allows the user to make it taller */
    border-radius: 8px;
    box-sizing: border-box;
    font-family: var(--font-body);
}