/* ==================================================
                    ROOT VARIABLES
================================================== */

:root {

/*----------COLOR----------*/
--primary-blue: #005491;
--primary-orange: #D33F00;
--secondary-blue: #020A33;
--secondary-orange: #CF7B31;
--neutral-white: #FFFFFF;
--neutral-skyblue: #D9EFFF;


/*----------FONTS----------*/
    /* Title, main header - Cherry Blossoms regular */
  --font-header: "cherry-blossoms-regular", sans-serif;
  
  /* Sub-headers - Sirenia regular */
  --font-subheader: "sirenia", sans-serif;
  
  /* body, p, nav - Quicksand regular */
  --font-body: "quicksand", sans-serif;

}


/*----------container project----------*/

.project h2 {
    margin-bottom: 15px;
}

.container.project {
    padding: 0 30px 30px;
}

/*----------container form----------*/

.container.form {
    background: linear-gradient(
        180deg,
        #005491 30%,
        #D9EFFF 70%
    );
    border-radius: 25px;
}

.container.form h3 {
    padding: 30px 5px 0 5px;
}

form#contact-form {
    height: 525px;
}

input#name, input#email{
    width: 100%;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 8px;
    border-color: var(--primary-orange);
    border: 2px solid #D33F00;
    box-sizing: border-box;
    font-family: var(--font-body);
}

.field.placeholder {
    color:#005491;
}

.field {
    padding-top: 20px;
    padding-bottom: 10px;
}

.contact.button {
    padding-top: 25px;
}

.field textarea {
    width: 100%;
    min-height: 150px;
    padding: 15px 20px;
    font-size: 16px;
    resize: vertical;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: var(--font-body);
    border-color: var(--primary-orange);
    border: 2px solid #D33F00;
}

.field input#name:focus, .field input#email:focus,
.field textarea:focus {
    outline: none;
    border: 2px solid #ff7a00; /* your accent color */
    box-shadow: 0 0 5px rgba(255, 122, 0, 0.3);
}

.field input#name:hover, .field input#email:hover,
.field textarea:hover {
    outline: none;
    border: 2px solid #ff7a00; /* your accent color */
    box-shadow: 0 0 5px rgba(255, 122, 0, 0.3);
}



/* ==================================================
                    MEDIA QUERIES
================================================== */


/* ----------MEDIA QUERIES (MEDIUM)---------- */
@media screen and (min-width: 600px) {
    /* FOOTER FLEX FOR TABLET/DESKTOP */

        .container.project {
        max-width: 600px;
    }

    .container.form {
        max-width: 600px;
    }
}