/* ==================================================
                    ROOT VARIABLES
================================================== */

:root {

/*----------COLOR----------*/
--primary-blue: #005491;
--primary-orange: #D33F00;
--secondary-blue: #020A33;
--secondary-orange: #CF7B31;
--neutral-white: #FFFFFF;
--neutral-skyblue: #D9EFFF;
--neutral-darkblue: #00192B;
--neutral-black: #040000;


/*----------FONTS----------*/
    /* Title, main header - Cherry Blossoms regular */
  --font-header: "cherry-blossoms-regular", sans-serif;
  
  /* Sub-headers - Sirenia regular */
  --font-subheader: "sirenia", sans-serif;
  
  /* body, p, nav - Quicksand regular */
  --font-body: "quicksand", sans-serif;
  
}


/*----------container hero----------*/

.container.hero {
    background-color: transparent;
    padding-bottom: 20px;
}

/*----------body-box----------*/

.body-box {
    background: linear-gradient(
        180deg,
        #00192B 0%,
        #005491 37%,
        #005491 64%,
        #00192B 100%
    );
    border-radius: 25px 90px 0 0;
}

/*----------container works----------*/

.container.works {
    border-radius: 25px 90px 0 0;
    padding: 20px;
}

.works-card {
        flex: 0 0 225px;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 20px;
        align-items: center;
        scroll-snap-align: start;
        background: rgba(0, 25, 43, 0.6);
        backdrop-filter: blur(10px);
        border-radius: 25px 90px 25px 25px;
        color: var(--neutral-white);
        padding: 30px 20px;
}

.works-card h4, .works-card p {
    text-align: left;
}

.works-card h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--neutral-white);
}

.works-card p {
    font-size: 12px;
    font-weight: 600;
}

.works-scroll {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 20px;
}

.works-scroll::-webkit-scrollbar {
    height: 10px;
}

.works-scroll::-webkit-scrollbar-track {
    background: transparent; /* removes grey bar */
}

.works-scroll::-webkit-scrollbar-thumb {
    background: var(--primary-orange);
    border-radius: 10px;
}

.works-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.works-card-arrow {
    align-self: end;
}

/*----------container process----------*/

.container.process {
    background-image: url(images/gradient-background.avif);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    border-radius: 25px;
    padding: 30px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

}

.process-card {
    background-color: var(--neutral-white);
    border-radius: 15px 25px;
    padding: 25px 10px 15px 10px;
    text-align: left;
}

.process h3 {
    grid-column: 1 / -1;
    padding: 5px 0;
}

.process-card-img-1 {
    grid-column: 1;
    grid-row: 1;
}

.process-card-img-2 {
    grid-column: 2;
    grid-row: 1;
}

.process-card-img-3 {
    grid-column: 1;
    grid-row: 2;
}

.process-card-img-4 {
    grid-column: 2;
    grid-row: 2;
}

.process h4 {
    font-size: 14px;
    color: var(--secondary-blue);
    font-weight: 700;
}

.process p {
    font-size: 12px;
    color: var(--primary-blue);
    font-weight: 700;
}

/*----------container contact----------*/

.container.contact {
    background-color: var(--neutral-skyblue);
    border-radius: 25px 25px 0 0;
    padding: 25px;
    margin-top: 25px;
}

.contact h1 {
    text-align: center;
    color: var(--primary-orange);
    font-size: 36px;
    font-family: var(--font-subheader);
    font-weight: normal;
    margin: 0;
}

.contact h2 {
    font-family: var(--font-body);
    color: var(--primary-blue);
    font-size: 20px;
    align-items: center;
    display: inline-block;
    padding-bottom: 15px;
}