 /* ==================================================
                    CSS INFO
================================================== */
/* GIT 480: SENIOR PROJECT */
/* Author: Angela Roque  */
/* For educational purposes only. */



/* ==================================================
                    IMPORTS
================================================== */
@import url("https://use.typekit.net/bbc3lgt.css");



/* ==================================================
                    CSS RESET
================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h3, h4, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ==================================================
                    ROOT VARIABLES
================================================== */

:root {

/*----------COLOR----------*/
--primary-blue: #005491;
--primary-orange: #D33F00;
--secondary-blue: #020A33;
--secondary-orange: #CF7B31;
--neutral-white: #FFFFFF;
--neutral-skyblue: #D9EFFF;
--neutral-darkblue: #00192B;
--neutral-black: #040000;


/*----------FONTS----------*/
    /* Title, main header - Cherry Blossoms regular */
  --font-header: "cherry-blossoms-regular", sans-serif;
  
  /* Sub-headers - Sirenia regular */
  --font-subheader: "sirenia", sans-serif;
  
  /* body, p, nav - Quicksand regular */
  --font-body: "quicksand", sans-serif;

}

body {
    font-family: var(--font-body);
    font-weight: 400;
    line-height: 1.6;
    color: #333;
    margin: 0;
}

h1 {
    font-family: var(--font-header);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

h2, h4, h5, h6 {
    font-family: var(--font-body);
    line-height: 1.2;
    margin: 0;                          /*----------NOTE: REMOVE if it messes with any spacing in the page----------*/
}

h3 {
    font-family: var(--font-subheader);
    line-height: 1.2;
}

nav a {
    font-family: var(--font-body);
    text-decoration: none;
    font-weight: 700;
}



/* ==================================================
                    GLOBAL STYLES
================================================== */
            
html {
    min-width: 400px;
    scroll-behavior: smooth;
    padding-left: 20px;                 /*----------NOTE: REMOVE if it messes with any spacing in the page----------*/
    padding-right: 20px;                /*----------NOTE: REMOVE if it messes with any spacing in the page----------*/
    background: linear-gradient(
    180deg,
        #D9EFFF 0%,
        #005491 50%,
        #D9EFFF 100%
  );
}

body {
    text-align: center;
    font-family: var(--font-body);
    color: var(--neutral-black);
    background: linear-gradient(
        180deg,
        #FFFFFF 50%,
        #005491 100%
    );
    border-radius: 20px;
    margin: 20px auto;
    .container {
    margin: 0 auto;
    line-height: 1.5;
}


/* ==================================================
                    HEADER CONTENT SECTIONS
================================================== */

header {
    margin: 0 auto;
    background-size: 600px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--neutral-white);
    border-radius: 25px 25px 0 0;
}
                
.title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 15px 0;
    width: 100%;
}
                
.logo-and-title {
    display: flex;
    padding-left: 20px;
    align-items: center;
    flex-shrink: 0;
}
                
.logo-and-title h1 {
    font-size: 2rem;
    margin: 0;
    color: var(--primary-orange);
    letter-spacing: 2px;
}
                
.logo-and-title img {
    height: 170px;      
    width: auto;       
    display: block;
    max-width: 100%;  
}

.navigation {
    justify-self: end;
    position: relative;
    text-align: left;
    font-size: 16pt;
    font-family: var(--font-header);
    color: var(--primary-blue);
}

.navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.navigation li {
    list-style: none;
    padding: 5px 30px;
    border-bottom: 2px solid var(--neutral-white);
    transition: border-color 0.3s ease, transform 0.3s ease;
}


.navigation li:hover {
    border-bottom: 2px solid var(--secondary-orange);
    transform: scale(1.05);
}
    

#hamburger {
    display: none;
}

.navigation label {
    position: absolute; 
    top: -20px;
    right: 0;
    margin-right: 10px;
    order: 2;
    z-index: 101;
    cursor: pointer;
    display: flex;      
    align-items: center;  
    width: 40px; 
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    }



.dropdown-nav {
    display: none;
    flex-direction: column;
    position: fixed;
    left: 20px;
    right: 20px;
    top: 200px;
    padding: 20px 0;
    z-index: 101;
    box-sizing: border-box;
}

    .dropdown-nav a {
        display: block;
        padding: 10px 0;
        text-decoration: none;
        color: var(--primary-blue);
        text-align: center;
    }

#hamburger:checked ~ .dropdown-nav {
    display: flex;
    visibility: visible;
    opacity: 1;
    background-color: var(--neutral-white);
}

label span {
    background-color: var(--secondary-orange);
    display: block;
    height: .25rem;
    position: relative;
    transition: background-color .3s ease-out;
    width: 2rem;
}

label span:before, label span:after {
    background: var(--secondary-orange);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

label span:before {
    top: .75rem;
    left: 0;
}

label span:after {
    top: -.75rem;
    left: 0;
}


/* ---------HAMBURGER "X" ANIMATION ---------*/

#hamburger:checked ~ label span {
    background-color: transparent; 
}

#hamburger:checked ~ label span:before {
    top: 0;
    transform: rotate(45deg);
}

#hamburger:checked ~ label span:after {
    top: 0;
    transform: rotate(-45deg);
}




/* ==================================================
                    MAIN CONTENT SECTIONS
================================================== */

.name-and-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

h1 {
    color: var(--primary-orange);
    font-family: var(--font-header);
    font-size: 50px;
}

/*----------BUTTONS----------*/

a.button {
    text-decoration: none;
    background-color: var(--primary-blue);
    color: var(--neutral-white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 15px;
    margin: 0 10px;
    font-family: var(--font-body);
    border-radius: 15px;
}

a.button:hover {
    transform: scale(1.05);
}

a.button span {
    text-shadow: -2px 2px 4px var(--secondary-blue);
}

a.button.empty {
    text-decoration: none;
    background-color: var(--neutral-white);
    color: var(--primary-blue);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 15px;
    font-family: var(--font-body);
    border-radius: 15px;
    transition: border-color 0.3s ease, transform 0.3s ease;
}

a.button.empty span {
    border-bottom: 2px solid var(--primary-orange);
    text-shadow: -2px 2px 4px rgba(0, 124, 257, .55);
}


/*----------h1, h2, h3, p----------*/

h2 {
    font-family: var(--font-body);
    color: var(--primary-blue);
    font-size: 20px;
    align-items: center;
    display: inline-block;
}

.hero p {
    font-family: var(--font-body);
    color: var(--primary-blue);
    font-size: 14px;
    align-items: center;
    padding-bottom: 15px;
}

.project h2 {
    margin-bottom: 15px;
}


h3 {
    font-family: var(--font-subheader);
    color: var(--neutral-white);
    font-size: 30px;
    text-align: left;
    padding: 20px;
}

.contact h1 {
    text-align: center;
    color: var(--primary-orange);
    font-size: 36px;
    font-family: var(--font-subheader);
    font-weight: normal;
    margin: 0;
}

.contact h2 {
    font-family: var(--font-body);
    color: var(--primary-blue);
    font-size: 20px;
    align-items: center;
    display: inline-block;
    padding-bottom: 15px;
}

/*----------container----------*/

.hero, .works, .process, .project, .form {
    padding: 0 20px;
}


/*----------container hero----------*/

.container.hero {
    background-color: var(--neutral-white);
    padding-bottom: 20px;
}


/*----------container works----------*/

.container.works {
    background: linear-gradient(
        180deg,
        #00192B 0%,
        #005491 37%,
        #005491 64%,
        #00192B 100%
    );

    border-radius: 25px 90px 0 0;
    padding: 20px;
}

.works-card {
    flex: 0 0 300px;
    scroll-snap-align: start;
    background: linear-gradient(
        180deg,
        #00192B 0%,
        #005491 37%,
        #005491 64%,
        #00192B 100%
    );
    border-radius: 25px 90px 25px 25px;
    color: var(--neutral-white);
    padding: 50px;
}

.works-scroll {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 20px;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
    justify-content: space-evenly;
}


.container.works h3 {
    padding: 30px 0 20px 0;
    margin: 0;
}

/*----------container process----------*/

.container.process {
    background-color: var(--neutral-darkblue);
    border-radius: 25px;
}

/*----------container contact----------*/

.container.contact {
    background-color: var(--neutral-skyblue);
    border-radius: 25px 25px 0 0;
    padding: 25px;
}

/* ==================================================
                    FOOTER CONTENT SECTIONS
================================================== */

/*----------FOOTER----------*/

/* The Base Footer Background */
footer {
    background-color: var(--primary-blue);
    padding: 1rem 0;
    border-radius: 0 0 25px 25px;
}

/* The 3-Column Layout */
.footer-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    gap: 1rem;
}

/* LEFT SIDE */
.footer-left img {
    width: 100px; 
    height: auto;
    display: block;
}

/* CENTER SIDE */
.footer-center img {
    width: 190px;
    height: auto;
    display: block;
}

/* RIGHT SIDE */
.footer-right {
    text-align: center;
    font-family: var(--font-header);
    color: var(--primary-blue);
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
}

.footer-right p {
    margin: 0;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.4;
}

/* The Social Links */
.footer-right a {
    display: inline-block;
    color: var(--neutral-white);
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 5px 10px 5px auto;
    border-bottom: 1.5px solid var(--primary-blue);
    width: fit-content;
    transition: border-color 0.3s ease, transform 0.3s ease;
}

.footer-right a:hover {
    border-bottom-color: 2px solid var(--neutral-white);
    transform: scale(1.05);
}





/* ==================================================
                    MEDIA QUERIES
================================================== */


/* ----------MEDIA QUERIES (MEDIUM)---------- */
@media screen and (min-width: 600px) {
    /* FOOTER FLEX FOR TABLET/DESKTOP */
    
    .page {
        padding: 0;
        margin: 0;
    }

    .field {
        flex: 1 1 100%;
    }

    .booking-form button {
        width: 100%;
        max-width: 200px;
    }
    .footer-layout {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
    }

    .footer-right {

        justify-self: end; 
    }
    
    .footer-left {
        justify-self: start;
    }

    .footer-center img {
        width: 450px;
        height: auto;
        display: block;
    }

    .footer-left img {
        width: 170px; 
        height: auto;
        display: block;
    }
}

     /* ----------MEDIA QUERIES (LARGE)---------- */
@media screen and (min-width: 900px){
    .page {
        min-width: 400px;
        padding: 0;
        margin: 0;
    }

    .booking-form {
        flex-wrap: wrap;
    }

/* NAV & FOOTER  */

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    margin: 0;
    max-width: none;
}

.navigation ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}



.navigation label {
    display: none;
}



#hamburger {
    display: block;
}

#hamburger, .navigation label {
    display: none;
}

.dropdown-nav {
    display: flex !important;
    position: static;
    flex-direction: row;
    background: none;
    width: auto;
}
}
}